@import "tailwindcss";

@theme {
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-space-grotesk), ui-monospace, SFMono-Regular, monospace;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

@layer base {
  body {
    background-color: #020202;
    color: #ebebe3;
  }
}
